body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/static/images/bg1.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.content {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 600px;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn-proceed {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-proceed:hover {
  background-color: #555;
}