<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InflueSync: Streamlining Influencer Coordination and Sponsorship Programs</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="logo">InflueSync</li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content">
            <h1>InflueSync: Streamlining Influencer Coordination and Sponsorship Programs</h1>
            <p>
                InflueSync is a cutting-edge platform designed to revolutionize the way brands connect with influencers. 
                By providing a seamless interface for managing influencer collaborations and sponsorship programs, InflueSync enables 
                brands to effortlessly coordinate campaigns, track performance, and maximize their reach. Our platform offers robust 
                tools for both sponsors and influencers, ensuring transparent communication, efficient project management, and measurable 
                results. With InflueSync, creating impactful partnerships and driving brand success has never been easier.
            </p>
            <a href="{{url_for('login')}}" class="btn-proceed">Proceed to Login</a>
        </section>
    </main>
</body>
</html>

